img {
    width: 100%;
}

.container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.slide {
    position: relative;
    height: 500px;
}

.slide img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.slide .active {
    opacity: 1;
}

.pagi {
    text-align: center;
}

.pagi span {
    display: inline-block;
    border: 1px solid gray;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px 10px;
    cursor: pointer;
}

.pagi span.active {
    background-color: gray;
}